Repository reactjs/it.react.dev, pull requests merged in 2019-03, with the labels that each got.

#112 Translation of the page "Lists and Keys"
  GLOSSARY.md
  content/docs/lists-and-keys.md
  content/docs/nav.yml
  examples/lists-and-keys/1.js
  examples/lists-and-keys/2.js
  examples/lists-and-keys/3.js
  examples/lists-and-keys/4.js
  examples/lists-and-keys/5.js
Labels: ✔ translated

#124 Fixing sync with upstream
  content/docs/add-react-to-a-website.md
  content/languages.yml
  src/components/CodeEditor/CodeEditor.js
  src/site-constants.js
Labels: needs +1

#121 Add translation for ReactDOM API reference
  content/community/conferences.md
  content/docs/reference-react-dom.md
Labels: :muscle: long page - more than 100 lines, :nerd_face: in review

#127 Translation for the page 'API Reference -> DOM Elements'
  content/docs/nav.yml
  content/docs/reference-dom-elements.md
Labels: needs +1

#122 Translation for the page 'Basics -> Thinking in React'
  content/docs/design-principles.md
  content/docs/getting-started.md
  content/docs/nav.yml
  content/docs/thinking-in-react.md
  content/images/blog/thinking-in-react-components.png
  content/images/blog/thinking-in-react-mock.png
  examples/thinking-in-react/1/index.css
  examples/thinking-in-react/1/index.html
  examples/thinking-in-react/1/index.js
  examples/thinking-in-react/1/package.json
  examples/thinking-in-react/2/index.css
  examples/thinking-in-react/2/index.html
  examples/thinking-in-react/2/index.js
  examples/thinking-in-react/2/package.json
  examples/thinking-in-react/3/index.css
  examples/thinking-in-react/3/index.html
  examples/thinking-in-react/3/index.js
  examples/thinking-in-react/3/package.json
  gatsby-config.js
  package.json
  yarn.lock
Labels: :muscle: long page - more than 100 lines, ✔ translated

#125 Add translation for ReactDOMServer
  content/docs/reference-react-dom-server.md
Labels: ✔ translated

#132 Translation for the page 'API Reference -> JS Environment Requirements'
  content/blog/2017-09-26-react-v16.0.md
  content/docs/nav.yml
  content/docs/reference-javascript-environment-requirements.md
Labels: needs +1

#131 Translation for the page 'API Reference -> Shallow Renderer'
  content/docs/addons-shallow-renderer.md
  content/docs/nav.yml
Labels: ✔ translated

#137 Translation for the page 'Navigation -> docs/nav.yml'
  GLOSSARY.md
  content/blog/2015-12-18-react-components-elements-and-instances.md
  content/blog/2017-09-08-dom-attributes-in-react-16.md
  content/docs/accessibility.md
  content/docs/add-react-to-a-website.md
  content/docs/addons-animation.md
  content/docs/cdn-links.md
  content/docs/codebase-overview.md
  content/docs/create-a-new-react-app.md
  content/docs/design-principles.md
  content/docs/faq-ajax.md
  content/docs/faq-functions.md
  content/docs/faq-internals.md
  content/docs/faq-state.md
  content/docs/faq-structure.md
  content/docs/faq-styling.md
  content/docs/faq-versioning.md
  content/docs/forwarding-refs.md
  content/docs/fragments.md
  content/docs/getting-started.md
  content/docs/higher-order-components.md
  content/docs/hooks-custom.md
  content/docs/hooks-effect.md
  content/docs/hooks-faq.md
  content/docs/hooks-intro.md
  content/docs/hooks-overview.md
  content/docs/hooks-reference.md
  content/docs/hooks-rules.md
  content/docs/hooks-state.md
  content/docs/how-to-contribute.md
  content/docs/implementation-notes.md
  content/docs/integrating-with-other-libraries.md
  content/docs/jsx-in-depth.md
  content/docs/nav.yml
  content/docs/optimizing-performance.md
  content/docs/portals.md
  content/docs/react-without-jsx.md
  content/docs/reconciliation.md
  content/docs/reference-glossary.md
  content/docs/refs-and-the-dom.md
  content/docs/static-type-checking.md
  content/docs/typechecking-with-proptypes.md
  content/docs/uncontrolled-components.md
Labels: needs +1

#139 Translation for the page 'Lifting State Up'
  content/docs/lifting-state-up.md
  content/docs/nav.yml
  examples/lifting-state-up/1.js
  examples/lifting-state-up/2.js
  examples/lifting-state-up/3.js
Labels: :muscle: long page - more than 100 lines, :nerd_face: in review, ✔ translated

#130 Translation for the page 'React' (API Reference)
  content/docs/reference-react.md
  examples/16-3-release-blog-post/create-ref-example.js
  examples/reference-react-forward-ref.js
Labels: :muscle: long page - more than 100 lines, ✔ translated
