Repository reactjs/it.react.dev, pull requests merged in 2019-04, with the labels that each got.

#141 Translation for the page 'Add React to a Website'
  content/community/conferences.md
  content/docs/add-react-to-a-website.md
Labels: :muscle: long page - more than 100 lines, needs +1, ✔ translated

#147 Add CDN links translation
  content/docs/cdn-links.md
Labels: ✔ translated

#143 Translation for the page 'Create a New React App'
  content/docs/create-a-new-react-app.md
Labels: :nerd_face: in review, needs +1, ✔ translated

#146 Translation for the page 'Installation -> Getting Started'
  content/docs/getting-started.md
  static/html/single-file-example.html
Labels: :nerd_face: in review, needs +1
