Repository reactjs/it.react.dev, pull requests merged in 2019-02, with the labels that each got.

#5 Home Page Translation
  content/home/examples/a-component-using-external-plugins.js
  content/home/examples/a-component-using-external-plugins.md
  content/home/examples/a-simple-component.js
  content/home/examples/a-simple-component.md
  content/home/examples/a-stateful-component.js
  content/home/examples/a-stateful-component.md
  content/home/examples/an-application.js
  content/home/examples/an-application.md
  content/home/marketing/component-based.md
  content/home/marketing/declarative.md
  content/home/marketing/learn-once-write-anywhere.md
  src/pages/index.js
Labels: needs +1

#8 housekeeping: Adjusted README, versioned Glossary + Style Guide
  GLOSSARY.md
  README.md
  STYLE_GUIDE.md
Labels: needs +1

#11 Update STYLE_GUIDE.md
  STYLE_GUIDE.md
Labels: needs +1

#15 Added `tag` to Untranslatable terms
  GLOSSARY.md
Labels: :blue_book: Glossary, needs +1

#16 Translation of the `Rendering Elements` page
  content/docs/nav.yml
  content/docs/rendering-elements.md
  content/docs/state-and-lifecycle.md
Labels: ✔ translated

#6 Translation of the `Tutorial` page
  GLOSSARY.md
  content/tutorial/nav.yml
  content/tutorial/tutorial.md
Labels: :muscle: long page - more than 100 lines, ✔ translated

#19 [Glossary] Added lifecycle to untranslatable terms
  GLOSSARY.md
Labels: :blue_book: Glossary, needs +1

#14 Transtation of the `Introducing jsx` page
  content/docs/introducing-jsx.md
  content/docs/nav.yml
Labels: :muscle: long page - more than 100 lines, needs +1

#101 Translation for the page 'Components and props'
  GLOSSARY.md
  content/docs/components-and-props.md
  content/docs/nav.yml
  content/docs/reference-react-component.md
Labels: :muscle: long page - more than 100 lines

#109 Added ref to #108 (Translating "mount" and "unmount" in sentences)
  GLOSSARY.md
Labels: :blue_book: Glossary, question

#18 Translation of State and Lifecycle page
  content/docs/nav.yml
  content/docs/reference-react-component.md
  content/docs/state-and-lifecycle.md
Labels: :muscle: long page - more than 100 lines, needs +1

#114 Move code samples in "Handling Events"
  content/docs/handling-events.md
  examples/handling-events/1.js
Labels: needs +1

#110 Translation of the page "Conditional rendering"
  content/docs/components-and-props.md
  content/docs/conditional-rendering.md
  content/docs/jsx-in-depth.md
  content/docs/nav.yml
  content/docs/rendering-elements.md
  examples/conditional-rendering/1.js
  examples/conditional-rendering/2.js
  examples/conditional-rendering/3.js
  examples/conditional-rendering/4.js
  gatsby-config.js
Labels: :muscle: long page - more than 100 lines, needs +1

#113 Translation of the Page: `Composition vs Inheritance`
  content/docs/composition-vs-inheritance.md
  content/docs/nav.yml
  examples/composition-vs-inheritance/1.css
  examples/composition-vs-inheritance/1.js
  examples/composition-vs-inheritance/2.css
  examples/composition-vs-inheritance/2.js
  examples/composition-vs-inheritance/3.css
  examples/composition-vs-inheritance/3.js
  examples/composition-vs-inheritance/4.css
  examples/composition-vs-inheritance/4.js
Labels: :muscle: long page - more than 100 lines, needs +1
